/*styling html sheet*/
.header img {
  float: left;  
  width: 110px;
  height: 110px;
  background: rgb(90, 80, 80);
}
.Content {
  color: rgb(0, 0, 0);
  font-family: "Quattrocento", serif;
  margin: 22px;
  text-align:left;
}
.Name {
  color: rgb(0, 0, 0);
  font-family: "Quattrocento", serif;
} 
.header h1 {
  position: relative;
  top: 18px;
  left: 10px;
}
header {
  margin: 0px;
  padding:2%;
}
.col-md-3 {
  padding: 15px;
  border-radius: 10px;
  width:50%;
  text-align:left;
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(0, 0, 0);
  margin:40px;
}
.total {
  text-align:center;
  border: 5px solid rgb(240, 78, 78);
  background-color: rgb(255, 255, 255);
}
footer {
  color:rgb(0, 0, 0);
  text-align: center;
}


